[submodule "personal"]
	path = personal
	url = git@github.com:baileyn/personal.git
[submodule "work"]
	path = work
	url = git@github.com:baileyn/work.git
[submodule "nvim/.config/nvim"]
	path = nvim/.config/nvim
	url = https://github.com/baileyn/nvim.git
