* {
    all: unset;
}

// $background: #B1B6A6;
// $foreground: #363946;
// $primary: #000000;
// $secondary: #819595;
// $accent: #696773;

$background: #1A1B26;
$foreground: #A9B1D6;
$primary: #BB9AF7;
$secondary: #24283B;
$accent: #7AA2F7;

.separator {
    color: $secondary;
    font-size: 25px;
    margin: 0px 8px;
}

.status-bar {
    color: $foreground;
    background: $background;
    border-radius: 10px;
    padding: 0.3rem;
}

.status-bar > .left {
    padding-left: 10px
}

.status-bar > .right {
    padding-right: 10px
}

.status-bar .workspaces {
    font-size: 1.8em;
    margin-top: -5px;
    margin-bottom: -5px;
}

.status-bar .workspaces > .workspace {
    padding: 0px 2px;
}

.status-bar .workspaces > .focused {
    color: $primary;
}

.status-bar .volume {
    font-size: 30px;
    margin-top: -5px;
    margin-bottom: -10px;
}

.time {
  font-family: Comic Mono;
  font-weight: bold;
  font-size: 0.8em;
  background-color: $background;
  color: $foreground;
  border: 1px solid $accent;
  border-radius: 5px;
}

.cal-box {
  background-color: $background;
  font-family: Comic Mono;
  font-size: 1em;
  font-weight: bold;
  border-radius: 10px;
  color: $foreground;

  .cal-inner-box {
      padding: 1rem 1rem .2rem;

      .cal {
          &.highlight {
              padding: 10rem;
          }

          padding: .8rem .25rem 0rem;
          margin-left: 10px;
      }
  }
}

calendar:selected {
  color: $primary;
}

calendar.header {
color: $foreground;
font-weight: bold;
}

calendar.button {
color: $primary;
}

calendar.highlight {
color: $accent;
font-weight: bold;
}

calendar:indeterminate {
color: $secondary;
}
